.messagesContainer {
    display: flex;
    height: calc(100vh - 55px);
    width: 100%;
   
}

.messagesSidebar {
    width: 300px;
    min-width: 300px;
    border-right: 1px solid #e0e0e0;
    overflow-y: auto;
    background-color: white;
}

.messagesContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.noConversationSelected {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #65676b;
    font-size: 1.2rem;
} 

@media (max-width: 768px) {
    .messagesContainer {
        flex-direction: column;
    }
    .noConversationSelected {
        display: none;
    }

    .messagesSidebar {
        width: 100%;
        min-width: 100%;
        height: 100%;
        border-right: none;
    }

    .messagesContent {
        position: fixed;
        top: 55px;
        left: 0;
        width: 100%;
        height: calc(100vh - 55px);
        z-index: 100;
        display: none;
    }

    .messagesContent.active {
        display: flex;
    }
}